@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Seu @ViewData["Seu"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.facebook.com/clovis.bonatto">Clóvis Pinaffo Bonatto</a>
</address>
